name: Deploy Sphinx
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: pip install sphinx sphinx-rtd-theme myst-parser
      - name: Build HTML
        run: |
          # 关键：编译到 docs 文件夹，不占领根目录
          sphinx-build -b html source docs
          touch docs/.nojekyll
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .               # 包含 index.html 和 docs 文件夹
          branch: gh-pages
          target-folder: .
          clean: true